body {
    min-width: 1200px;
    margin:0;
    padding: 0;
    font-size:16px;
    font-family: Trebuchet MS, sans-serif;
    color: #000000;
}

.main-header {

    padding-top:35px;
    padding-bottom: 87px;
    background: #6451d5;
}

.container {
    width: 1020px;
    margin:0 auto;
    padding: 0 30px;
    
}

.logo {
    float: left;
    width:180px;
}

.logo img {
    /*display: block;*/
    width: 180px;
    height: 82px;

}

.clearfix::after {
    display: table;
    content:"";
    clear: both;
}

.main-menu {
    float: right;
    /*width: 680px;*/
    margin-top:25px;
}

.main-menu ul {
    padding: 0;
    margin:0;
    list-style: none;
    padding-right: 9px;
}

.main-menu li {
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
}

.main-menu a {
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.main-menu a:hover {
    text-decoration: underline;
}

.main-menu a:active {
    text-decoration: none;
    opacity: 0.3;
}

.btn {
    display: inline-block;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-indigo {
    background: #382d78;
}

.btn-indigo:hover {
    background: #ffffff;
}

.btn-indigo:active {
    background: #ffffff;
    color: #000000;
}

.promo {
    width: 450px;
    position: relative;
    z-index: 10;
}

.promo-title {
    color: #ffffff;
    margin-top: 93px;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
}

.promo p {
    margin:0;
    margin-bottom: 35px;
    color: #bcb3f2;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 30px;
    width: 320px;
}

.promo::after {
    content:"";
    position: absolute;
    width: 640px;
    height: 450px;
    background: #6451d5 url(../img/ipad.png) no-repeat;
    left: 380px;
    top:-20px;
    z-index: -1;
}
.promo .btn {
    margin-top: 15px;
    padding: 23px 0 17px 0;
    font-weight: bold;
    width: 320px;
    height: 30px;
}

.features {
    background: #efefef;
    padding: 50px 0;
}

.features-item {
    display: inline-block;
    width: 320px;
    float: left;
    margin-right: 30px;
}

.features div:nth-child(3) {
    margin-right:0;
}


.features-title {
    font-size: 22px;
    font-style: bold;
    text-align: center;
    padding-top: 71px;
}

.features p {
    font-size: 18px;
    font-family: Tahoma;
    color: #555555;
    text-align: center;
    padding-top:5px;
    line-height: 24px;
   margin-bottom: 1px;
}

.features-icon-schedule::after {
   margin-left: 120px;
    content:"";
    position: absolute;
    width: 85px;
    height: 70px;
    background: url(../img/features.png) no-repeat;
    background-position: 7px -140px;
}

.features-icon-practice::after {
    margin-left: 120px;
    content:"";
    position: absolute;
    width: 85px;
    height: 70px;
    background: url(../img/features.png) no-repeat;
    background-position: -1px 0;
}

.features-icon-work {
    margin-left: 120px;
    content:"";
    position: absolute;
    width: 85px;
    height: 70px;
    background: url(../img/features.png) no-repeat;
    background-position: 0 -72px;
}

.education{
    padding: 50px 0;
    background: #ffffff;
}

.education .container {
    /*padding-top:0;*/
    /*margin-top:0;*/
}
.education-title {
    font-size: 45px;
    line-height: 50px;
    padding-top:0;
    margin-top:0;
    margin-bottom: 60px;
}
.education-table table{
    border-collapse: collapse;
    color: #404040;
    font-size: 18px;
    font-family: Tahoma;
    height: 278px;
    width: 100%;
}

.education-table td{
    
    padding-left: 30px;
}

.education-table td{
    border: 2px solid #a7a7a7;
    line-height: 30px;
    
}

.education-table-title td{
    background: #efefef;
    vertical-align: middle;
    height: 68px;
}

.education-table-content td{
    
    vertical-align: top;
    padding-top:20px;
}

.education-table-content td:nth-child(1){
    font-size: 22px;
    color:#000000;
    font-family: Trebuchet MS;
    width: 254px;
    
}
.education-table-content td:nth-child(2){
    font-size: 22px;
    color:#000000;
    font-family: Trebuchet MS;
    width: 159px;
}

.contacts {
    background: #efefef;
    padding-top: 50px;
    padding-bottom: 70px;
}

.contacts .container {
    display: table;
    content: "";
    clear: both;
/*    border: 2px solid red;*/
}
.contacts-title {
    font-size: 45px;
    line-height: 50px;
    margin: 0;
    padding:0;
    margin-bottom: 60px;
/*    border: 2px solid green;*/
}

.contacts-form {
    float: left;
    padding-bottom: 20px;
}


.contacts-form td{
    text-align: right;
    
}

.contacts-instruction {
    float: right;
    line-height: 30px;
    font-size: 22px;
    width: 320px;
    margin-bottom: 20px;
}

.contacts-instruction h3 {
    margin: 0;
    font-size: 22px;
}

.contacts-instruction p {
    font-size: 18px;
    font-family: Tahoma;
    color: #555555;
    margin:0;
    margin-top: 20px;
    line-height: 24px;
}
.contacts-alert{
    padding-top: 20px;
    line-height: 24px;
}

.contacts-form label{
    font-size: 18px;
    font-weight: bold;
}

.contacts-form .field label {
    font-weight: normal;
    font-family: Tahoma;
    color: #404040;
}

.contacts-form .field {
    text-align: left;
    
}

contacts-form .title {
/*    width: 90px;*/
/*    padding-right: 15px;*/
/*    vertical-align: top;*/
/*    text-align: right;*/  
}

.contacts-form .field input[type="text"] {
    width: 100%;
    font-size: 18px;
    font-family: Tahoma;
    color: #404040;
    padding: 15px 0;
    padding-left: 30px;
    border: 2px solid #a7a7a7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border-radius: 2px;
}

.contacts-form .field textarea {
    width: 100%;
    font-size: 18px;
    font-family: Tahoma;
    color: #404040;
    padding: 15px 0 40px 30px;
    border: 2px solid #a7a7a7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border-radius: 2px;
    resize:none;
}

.contacts-form .field input[type="text"]:hover, .contacts-form .field textarea:hover {
    border: 2px solid #7f7f7f;
}

.contacts-form .field input[type="text"]:focus, .contacts-form .field textarea:focus {
    border: 2px solid #00b770;
}

.contacts-form .field input[type="radio"] {
    margin: 30px 0;
    margin-left: 20px;
    margin-right: 30px;
    
}

.contacts-form .btn {
    float: left;
    width:510px;
    font-size: 20px;
    font-family: Trebuchet MS;
/*    padding: 20px 0;*/
    margin-top: 20px;
    border-radius: 3px;
    height: 70px;
    
}



